################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/ProjectArbReg/.vs/ProjectArbReg/v17/Browse.VC.opendb
/ProjectArbReg/.vs/ProjectArbReg/v17/Browse.VC.db-wal
